<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         mapTestClassNameToCoveredClassName="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">

    <testsuites>
        <testsuite name="Assert">
            <directory>./tests/Wookieb/Assert</directory>
        </testsuite>
    </testsuites>
</phpunit>
